---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/user/subscription
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"subscription":{"name":"Free"},"end_date":"2019-10-25","requests_left":249,"requests_plan":250}'
  recorded_at: Mon, 21 Oct 2019 23:40:20 GMT
recorded_with: VCR 5.0.0
