---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/sensors/ip/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"1.1.1.1","total":41,"targets_found":1,"events":[{"port":80,"results":[{"origin":{"job_id":"sinkhole","type":"sinkhole","ts":1569890720722,"ip":"1.1.1.1","rdns":"one.one.one.one"},"@timestamp":"2019-10-01T00:45:21.117Z","data":{"extra":{"tcp":{"ack":0,"syn":1,"fin":0,"rst":0,"psh":0,"urg":0}},"tags":["TCP_SYN"]},"target":{"port":80,"protocol":"tcp"}},{"origin":{"job_id":"sinkhole","type":"sinkhole","ts":1569890712061,"ip":"1.1.1.1","rdns":"one.one.one.one"},"@timestamp":"2019-10-01T00:45:12.385Z","data":{"extra":{"tcp":{"ack":0,"syn":1,"fin":0,"rst":0,"psh":0,"urg":0}},"tags":["TCP_SYN"]},"target":{"port":80,"protocol":"tcp"}},{"data":{"extra":{"tcp":{"rst":0,"fin":0,"psh":0,"urg":0,"ack":0,"syn":1}},"tags":["TCP_SYN"]},"@timestamp":"2019-10-01T00:45:04.131Z","origin":{"job_id":"sinkhole","type":"sinkhole","ts":1569890703927,"ip":"1.[...]
