---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/cve/ip/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"1.1.1.1","events":{"ip":"1.1.1.1","ports":[53,80,443],"results":[{"port":53,"cpe":[],"ts":1569916344031,"cves":[]},{"port":443,"cpe":[],"ts":1569988061505,"cves":[]},{"port":53,"cpe":[],"ts":1569411608375,"cves":[]},{"port":80,"cpe":[],"ts":1571498159115,"cves":[]}]}}'
  recorded_at: Wed, 23 Oct 2019 09:41:43 GMT
recorded_with: VCR 5.0.0
