---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/torrent/search?page=1&query=1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"1.1.1.1","page":1,"pagesize":20,"total":0,"events":[]}'
  recorded_at: Tue, 22 Oct 2019 01:39:43 GMT
recorded_with: VCR 5.0.0
