---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/torrent/historical/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"1.1.1.1","total":2,"targets_found":1,"events":[{"origin":{"type":"peer","module":"torrent","ts":1560477251380},"peer":{"ip":"1.1.1.1","port":14993},"torrent":{"infohash":"d57140cd6be10b30e487758bd16d3a4a94e3ef71","name":"Steinberg
        Cubase Elements 10.0.05 (x64) by Team-V.R[BabuPC]","source":"ThePirateBay","category":"Applications","subcategory":"Windows"}},{"origin":{"type":"peer","module":"torrent","ts":1558540377207},"peer":{"ip":"1.1.1.1","port":51414},"torrent":{"infohash":"8bb681ac382863badd0e5cc1c9aacbb52a972036","name":"Adobe
        Photoshop CC 2015 (20150529.r.88) (32+64Bit) + Crack","source":"ThePirateBay","category":"Applications","subcategory":"Windows"}}]}'
  recorded_at: Wed, 23 Oct 2019 09:41:42 GMT
recorded_with: VCR 5.0.0
