---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/domains/ip/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"A:\"1.1.1.1\"","page":1,"pagesize":100,"total":13947,"targets_found":1,"events":[{"A":["1.1.1.1"],"updated_at":"2018-10-02T00:55:14.794695","NS":["ns37.domaincontrol.com","ns38.domaincontrol.com"],"domain":"shiftcdn.com","root":"shiftcdn.com"},{"A":["1.1.1.1"],"updated_at":"2018-10-02T00:51:16.083773","NS":["ns0.transip.net","ns1.transip.net","ns2.transip.net"],"domain":"joos4ever.nl","root":"joos4ever.nl","MX":["relay.transip.nl","joos4ever.nl"]},{"A":["1.1.1.1"],"updated_at":"2018-12-15T09:26:51.929931","NS":["ns77.domaincontrol.com","ns78.domaincontrol.com"],"domain":"acecomm-solutions.com","root":"acecomm-solutions.com","MX":["mailstore1.secureserver.net","smtp.secureserver.net"],"title":""},{"A":["1.1.1.1"],"updated_at":"2018-12-15T11:20:52.960526","NS":["v1s1.xundns.com","v1s2.xundns.com"],"domain":"ygsearchresult.com","root":"ygsearchresult.com"},{"A":["1.1.1.1"],"updated_at":"2018-12-15T15:22:37.952396","NS":["ns2.bms.com","ns1.bms.com","ns4.bms.com","ns3.bms.com"],"domain":"ipilimumab.nl","root":"ipilimumab.nl","MX":["loki.bms.com","chimera.bms.com"]},{"A":["1.1.1.1"],"updated_at":"2018-12-15T11:21:24.328941","NS":["ns2.dns.com.cn","ns1.dns.com.cn"],"domain":"zgxbwl.com","r[...]
