---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/domains/dns/example.com?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Your plan doesn''t allow you to access this resource.","title":"Forbidden","status":"403"}'
  recorded_at: Tue, 22 Oct 2019 01:54:54 GMT
recorded_with: VCR 5.0.0
