---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/domains/dns/example.com?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"example.com","page":1,"pagesize":100,"total":7811,"events":[{"A":["5.188.231.244"],"updated_at":"2018-09-20T02:01:33.709530","domain":"golunov1988maksim.example.com","root":"example.com"},{"A":["5.188.231.242"],"updated_at":"2018-09-21T09:12:51.957379","domain":"vasiliyvs28.example.com","root":"example.com"},{"A":["212.86.114.213"],"updated_at":"2018-09-21T09:09:40.056639","domain":"habahaba.example.com","root":"example.com"},{"A":["185.212.148.41"],"updated_at":"2018-09-21T07:34:25.568806","domain":"nrurmc1.example.com","root":"example.com"},{"A":["185.17.121.227"],"updated_at":"2018-09-21T01:16:53.419365","domain":"andr.ladner.example.com","root":"example.com"},{[...]
