---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/sensors/search?page=1&query=1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"1.1.1.1","page":1,"pagesize":20,"total":93840,"events":[{"data":{"payload":"OPTIONS
        sip:100@192.241.254.186 SIP/2.0\\r\\nVia: SIP/2.0/UDP 185.53.88.32:5240;branch=z9hG4bK-3630913806;rport\\r\\nContent-Length:
        0\\r\\nFrom: \"eyeBeam\"<sip:100@1.1.1.1>;tag=6330663166656261633531380134313536343339333433\\r\\nAccept:
        application/sdp\\r\\nUser-Agent: eyeBeam\\r\\nTo: \"eyeBeam\"<sip:100@1.1.1.1>\\r\\nContact:
        sip:100@185.53.88.32:5240\\r\\nCSeq: 1 OPTIONS\\r\\nCall-ID: 356482135656160364134670\\r\\nMax-Forwards:
        70\\r\\n\\r\\n","sha256":"cf64e120fde4d0fc9b02649f29aa4e6a542c1c69c21d025920a2c27e75a6f178","tags":["SIP_SCANNER","VOIP_SCANNER"]},"origin":{"ts":1571683035525,"ip":"185.53.88.32","type":"sinkhole","asn":209299,"rdns":"185.53.88.32"},"target":{"protocol":"udp","port":50456}},{"data":{"payload":"OPTIONS
        sip:100@192.241.254.186 SIP/2.0\\r\\nVia: SIP/2.0/UDP 77.247.110.33:5329;branch=z9hG4bK-2670998683;rport\\r\\nContent-Length:
        0\\r\\nFrom: \"eyeBeam\"<sip:100@1.1.1.1>;tag=6330663166656261633363620131373135383230393539\\r\\nAccept:
        application/sdp\\r\\nUser-Agent: eyeBeam\\r\\nTo: \"eyeBeam\"<sip:100@1.1.1.1>\\r\\nContact:
        sip:100@77.247.110.33:5329\\r\\nCSeq: 1 OPTIONS\\r\\nCall-ID: 45785181726479674422800\\r\\nMax-Forwards:
  [...]
