---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/dataleaks/email/test@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total":35,"events":["7k7k","8tracks","antipublic","armorgamescom","ashleymadison","badoo","bitly","breachcompilation","customerslive","disqus","dropbox","exploitin","fling","gawker","gootkit","imesh","lastfm","linkedin","mate1","mpgh","myfitnesspal","myspace","nihonomaru","pastebin","patreon","strongholdkingdoms","the-collections","tumblr","twitter","unknown-btc","verificationsio","vk","webhost","xsplit","zoosk"],"query":"test@example.com"}'
  recorded_at: Tue, 22 Oct 2019 01:37:49 GMT
recorded_with: VCR 5.0.0
