---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/domains/subdomain/example.com?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"example.com","page":1,"pagesize":100,"total":7811,"events":["golunov1988maksim.example.com","vasiliyvs28.example.com","habahaba.example.com","nrurmc1.example.com","andr.ladner.example.com","smotrov1.artem.example.com","g9g99936.example.com","bddfgergeghd.example.com","vasverde.example.com","ucp-manager-2.example.com","arhitektonika-stroy.example.com","dergachev.example.com","8597.example.com","shot2332.example.com","alexey.kuzmenkov.example.com","ziemekp.example.com","dasha1.maha.example.com","feedbacktorhub.example.com","pobedonoscev2012.example.com","[...]
