---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/domains/search?page=1&query=example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"example.com","page":1,"pagesize":20,"total":37981,"events":[{"A":["62.252.24.189"],"updated_at":"2019-07-11T05:18:53.039715","NS":["example.com"],"domain":"meet.glb.2sfg.com","root":"2sfg.com"},{"A":["192.187.98.76"],"updated_at":"2018-06-08T19:42:36.718789","domain":"example.com.websiteoutlook.com","root":"websiteoutlook.com"},{"updated_at":"2019-09-05T03:29:39.988688","domain":"example.com.cidadefmtp.com.br","root":"cidadefmtp.com.br"},{"updated_at":"2019-08-09T17:40:24.489668","domain":"example.com.anyupdate.xyz","root":"anyupdate.xyz"},{"updated_at":"2018-05-01T00:17:05.392579","root":"incom.pk","domain":"example.com.incom.pk"},{"A":["209.126.119.123"],"updated_at":"201[...]
