---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/score/ip/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"normalized_ip_score":34.3,"normalized_ip_score_detailed":{"cve":0.0,"attack_surface":100.0,"encryption":100.0,"rms":0.0,"storage":0.0,"web":100.0,"torrents":100.0},"ip_score_detailed":{"cve":0.0,"attack_surface":2.0,"encryption":6.0,"rms":0.0,"storage":0.0,"web":3.0,"torrents":1.0},"results_detailed":{"ports":{"open":[443,53,80],"score":3.0},"cve":{"result":[{"port":53,"cve":{"cpe":["cpe:/a:isc:bind"],"cve_list":"no_version_provided","score":0.0},"score":0.0},{"port":443,"cve":{"cpe":["cpe:/a:igor_sysoev:nginx"],"cve_list":"no_version_provided","score":0.0},"score":0.0},{"port":53,"cve":{"cpe":["cpe:/a:isc:bind"],"cve_list":"no_version_provided","score":0.0},"score":0.0}],"score":0.0},"ssl":{"result":[{"port":443,"heartbleed":{"heartbleed":false,"score":0.0},"ccs":{"ccs":false,"score":0.0},"crime":{"crime":true,"score":6.0},"renegotiation":{"renegotiation":false,"score":0.0},"ocsp":{"ocsp":false,"score":0.0},"no_certificates":{"no_certificates":false,"score":0.0},"leaf_certificate":{"sha1_fingerprint":"6656840172b4fbbcd6d0a4a103491e93004d195f","issuer":"DigiCert
        Inc","subject":"Cloudflare, Inc.","validity":{"date":"2021-02-01 12:00:00","names":["cloudflare-dns.com","*.cloudflare-dns.com","one.one.one.one"],"status":"valid","score":0.0},"signature":{"signature":"ecdsa-with-SHA256","score":0.0},"self_signed":{"self_signed":false,"score":0.0}},"other_certificates":[{"sha1_fingerprint":"56ee7c270683162d83baeacc790e22471adaabe8","issuer":"DigiCert
        Inc","subject":"DigiCert Inc","validity":{"date":"2023-03-08 12:00:00","status":"valid","score":0.0},"signature":{"signature":"sha384WithRSAEncryption","score":0.0},"self_signed":{"self_signed":false,"score":0.0}}],"ciphers":[{"drown":false,"score":0.0},{"poodle":false,"score":0.0},{"logjam":false,"score":0.0}],"score":6.0}],"score":6.0},"http":{"result":[{"port":443,"service":"ssl/http","score":0.0},{"port":80,"service":"http","score":6.0}],"score":6.0},"web":{"result":[{"port":443,"headers":true,"score":3.0},{"port":80,"headers":true,"score":3.0}],"score":6.0},"torrents":{"result":[{"torrents":true,"score":1.0}],"score":1.0},"is_load_balancer":false},"ip_address":"1.1.1.1"}'
  recorded_at: Wed, 23 Oct 2019 09:41:45 GMT
recorded_with: VCR 5.0.0
