---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/dataleaks/organization/example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total":388539,"groups":[{"leak":"verificationsio","count":13831},{"leak":"the-collections","count":76893},{"leak":"pastebin","count":7333},{"leak":"bitly","count":85},{"leak":"antipublic","count":44489},{"leak":"exploitin","count":19995},{"leak":"badoo","count":13028},{"leak":"myspace","count":26266},{"leak":"vk","count":2132},{"leak":"imesh","count":7549},{"leak":"breachcompilation","count":58833},{"leak":"mate1","count":2923},{"leak":"customerslive","count":20269},{"leak":"webhost","count":152},{"leak":"fling","count":3058},{"leak":"strongholdkingdom[...]
