---
http_interactions:
- request:
    method: get
    uri: https://api.binaryedge.io/v2/query/search?page=1&query=1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Key:
      - "<BINARYEDGE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"query":"1.1.1.1","page":1,"pagesize":20,"total":63710,"events":[{"origin":{"country":"us","ip":"45.56.109.203","module":"grabber","type":"service-simple","port":34364,"ts":1571707214927},"target":{"ip":"63.142.227.146","port":161,"protocol":"tcp"},"result":{"data":{"service":{"banner":"HTTP/1.1
        302 OK\\r\\nContent-type: text/html; charset=UTF-8\\r\\nConnection: Close\\r\\nLocation:
        http://1.1.1.1/http.\\xe5\\x9f\\xf0\\x18\\xe5\\x9f\\xf0\\x18\\xe5\\x9f\\xf0\\x18\\xe5\\x9f\\xf0\\x18\\xe5\\x9f\\xf0\\x18\\xe5\\x9f\\xf0\\x18\\xe5\\x9f\\xf0\\x18\\xe5\\x9f\\xf0\\x18/\\r\\nPragma:
        no-cache\\r\\nContent-length: 17        \\r\\n\\r\\n<HTML>\\r\\n</HTML>\\r\\n","name":"http","method":"probe_extraction"},"state":{"state":"open"}}}},{"origin":{"type":"service-simple","module":"grabber","country":"us","ts":1571700978997,"ip":"45.79.144.96","port":34556},"target":{"ip":"62.0.85.70","port":5353,"protocol":"tcp"},"result":{"data":{"service":{"product":"Node.js
        Express framework","name":"http","cpe":["cpe:/a:nodejs:node.js"],"method":"probe_matching","banner":"HTTP/1.1
        200 OK\\r\\nX-Powered-By: Express\\r\\nAccept-Ranges: bytes\\r\\nCache-Control:
        public, max-age=36000\\r\\nLast-Modified: Tue, 16 Jul 2019 14:12:09 GMT\\r\\nETag:
        W/\"41d-16bfb205903\"\\r\\nContent-Type: text/html; charset=UTF-8\\r\\nContent-Length:
        1053\\r\\nDate: Mon, 21 Oct 2019 23:36:18 GMT\\r\\nConnection: close\\r\\n\\r\\n<!DOCTYPE
        html>\\n<html>\\n    <head>\\n        <script src=\"/js/jquery/jquery-3.0.0.min.js\"></script>\\n        \\n        <style
        type=\"text/css\">\\n            body{\\n                font-family: sans-serif;\\n            }\\n            \\n            .link-down
        {\\n                text-align: center;\\n                display: block;\\n                font-size:
        29px;\\n            }\\n            .link-control {\\n                text-align:
        center;\\n                display: block;\\n                font-size: 15px;\\n            }\\n        </style>\\n    </head>\\n    <body>\\n        <a
        class=\"link-control\" href=\"/remote/\">\\n            \\xd7\\x94\\xd7\\xaa\\xd7\\x97\\xd7\\x91\\xd7\\xa8\\xd7\\x95\\xd7\\xaa\\n        </a>\\n        <br>\\n        <br>\\n        <br>\\n        <br>\\n        <br>\\n        <br>\\n        <br>\\n        <br>\\n        <a
        id=\"link-exe\" class=\"link-down\" href=\"/api/dl/1.1.1.1:111\">\\n            \\xd7\\x9c\\xd7\\x97\\xd7\\xa5
        \\xd7\\x9b\\xd7\\x90\\xd7\\x9f \\xd7\\x9b\\xd7\\x93\\xd7\\x99 \\xd7\\x9c\\xd7\\x94\\xd7\\x95\\xd7\\xa8\\xd7\\x99\\xd7\\x93
        \\xd7\\xaa\\xd7\\x95\\xd7\\x9b\\xd7\\xa0\\xd7\\xaa \\xd7\\xa9\\xd7\\x9c\\xd7\\x99\\xd7\\x98\\xd7\\x94
        \\xd7\\x9e\\x[...]
